*.env
*.json
.ipynb*
*.ipynb
*.pkl
*:Zone.Identifier
__pycache__
img/
robinhood.pickle
data/
.coverage
notebooks/
ta-lib/
random/
encrypted/**
!encrypted/*/
!encrypted/**/*.encrypted
models/
node_modules/