python-dotenv == 0.20.0
pandas == 1.4.2
robin-stocks == 2.1.0
boto3 == 1.22.4
polygon-api-client == 0.2.11
pytz == 2022.1
vectorbt == 0.23.3
scipy == 1.8.0
scikit-learn == 1.1.1
auto-sklearn == 0.14.6
cryptography == 37.0.1
ta == 0.10.1
python-binance == 1.0.16
imbalanced-learn == 0.8.1
