# This workflow will automatically update the project tag / version when a commit is pushed to master
# For more information see: https://github.com/marketplace/actions/github-tag-bump

name: New Release

on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Bump version and push tag
        id: bumpVersion
        uses: anothrNick/github-tag-action@1.36.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          INITIAL_VERSION: true

      - name: Create release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.bumpVersion.outputs.new_tag }}

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install twine python-dotenv setuptools wheel

      - name: Publish package
        env:
          GITHUB: ${{ secrets.GITHUB }}
          PYPI: ${{ secrets.PYPI }}
        run: |
          python setup.py sdist bdist_wheel
          python util/pypi.py
          python -m twine upload dist/*
